{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Our Donation Page!</h1>
<h2>Would you like to donate?</h2>
    {# THIS IS A TEST KEY. TO FIND YOUR OWN KEY, LOG IN TO YOUR STRIPE ACCOUNT
      THEN GO TO: https://stripe.com/docs/quickstart #}
    <form action="{{url_for('payment')}}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key={{public_key}}
            data-amount="1999"
            data-name="Puppy Adoption"
            data-description="Donation"
            data-locate="auto"
            data-zip-code="true">
        </script>
    </form>

{% endblock %}